# Visual Studio 生成了具有 C++ 设置的 .editorconfig 文件。
root = true

[*]

charset = utf-16le

[*.config]

charset = utf-8
end_of_line = crlf

[*.json]

charset = utf-8

[*.xaml]

indent_style = tab
indent_size = 3

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

# Visual C++ 代码样式设置

charset = utf-16le
indent_style = tab
tab_width = 4
end_of_line = crlf
trim_trialing_whitespace = true
insert_final_newline = true